// Border Radius
.b_r_0{
    border-radius: 0;
}
.b_r_3{
    border-radius: 3px;
}
.b_r_5{
    border-radius: 5px;
}
.b_r_10{
    border-radius: 10px;
}

.bt_l_r_0{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.bb_l_r_0{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
