.chat_group_chatting{
    height: 100%;
    body{
        height: 100%;
        .content-page{
            height: 100%;
            .content{
                height: calc(100% - 130px);
                .container-fluid{
                    height: 100%;
                    .row:nth-child(2){
                        height: calc(100% - 35px);
                    }
                    .chat-conversation{
                        height: 100%;
                        .conversation-list{
                            height: calc(100% - 50px);
                        }
                        .row{
                            height: auto;
                        }
                    }
                    .card-box{
                        height: 100%;
                        .inbox-widget{
                            height: calc(100% - 78px);
                            min-height: auto;
                            max-height: none;
                        }
                    }
                }
            }
        }
    }
    .select2-container{
        z-index: 99999;
        .select2-results__option--highlighted[aria-selected]{
            background: $light-theme;
        }
    }
}
