body {
    #canvas-wrapper{
        bottom:0; height:10%; left:0; position:fixed; right:0; top:0; width:100%;
    }
}
.login_page_custom{
    margin:0 auto;
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:0%;
    .login_custom_con{
        position:relative;
        margin:0 auto;
        top:50%;
        transform:translateY(-50%);
    }
}
