.custom_datatable{
    table{
        tr{
            th{
                background:$darker-theme;
                color:$white;
            }
        }
        tfoot{
            tr{
                td{
                    background: rgba($black, 0.5);
                    color: $white;
                }
            }
        }
    }
    .pagination{
        li.paginate_button.active{
            a{
                background:$light-theme;
                border-color:$light-theme;
            }
        }
        li{
            a{
                transition: all 0.3s;
                &:hover, &:focus, &:active{
                    background:$light-theme;
                    border-color:$light-theme;
                    color: $white;
                }
            }
        }
    }
    .checkbox {
        input[type="checkbox"] + label{
            padding: 0;
            &:before{
                top: -6px;
            }
            &:after{
                top: -6px;
                left: -2px;
            }
        }
    }
}
.table-v-midd{
    table{
        tbody{
            tr{
                td{
                    vertical-align: middle;
                }
            }
        }
    }
}
