.custom_wizard_form{
    .wizard > {
        .steps > {
            ul > {
                li {
                    width: 33.333333%;
                }
                .current {
                    a{
                        background: $dark-theme;
                    }
                }
            }
        }
        .content {
            label.btn.btn-default {
                margin: 0px;
                background: $dark-theme !important;
                border-color: $dark-theme !important;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
            section.body{
                width: 100%;
            }
        }
        .actions {
            ul{
                li{
                    a{
                        background: $dark-theme;
                    }
                }
            }
        }
    }
}

.profile-dropdown{
    width: auto;
}
